/* general css */

body, textarea{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3{
    color: #292514;
}

p{
    color: #747272;
}

/* navbar css */

.navbar-container{
    width: 100%;
    height: 70px;
    background-color: #1b1b1b;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box;
}

.logo{
    width: 50px;
    margin-top: 10px;
}

nav{
    position: relative;
}

.navbar-items{
    list-style: none;
    position: absolute;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    margin: 0;
    right: 0;
}

.navbar-items li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items li a{
    color: #fff;
    text-decoration: none;
    transition: .5s;
}

.navbar-items li a:hover{
    color: rgb(209, 203, 203);
}

.default-btn{
    padding: 15px 20px;
    background-color: #c27013;
    border-radius: 10px;
}

.default-btn:hover{
    background-color: #363636;
}

/* main banner */

.main-banner{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    position: relative;
}

.main-banner h1, .main-banner p{
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

.main-banner h1{
    font-size: 54px;
}

.main-banner p{
    font-size: 25px;
}



/* Atribuições
logo
<div>Ícones feitos por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a></div>

*/