/* general css */

body, textarea{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3{
    color: #292514;
}

p{
    color: #747272;
}

/* navbar css */

.navbar-container{
    width: 100%;
    height: 70px;
    background-color: #1b1b1b;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box;
}

.logo{
    width: 50px;
    margin-top: 10px;
}

nav{
    position: relative;
}

.navbar-items{
    list-style: none;
    position: absolute;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    margin: 0;
    right: 0;
}

.navbar-items li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items li a{
    color: #fff;
    text-decoration: none;
    transition: .5s;
}

.navbar-items li a:hover{
    color: rgb(209, 203, 203);
}

.default-btn{
    padding: 15px 20px;
    background-color: #c27013;
    border-radius: 10px;
}

.default-btn:hover{
    background-color: #363636;
}

/* main banner */

.main-banner{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    position: relative;
}

.main-banner h1, .main-banner p{
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

.main-banner h1{
    font-size: 54px;
}

.main-banner p{
    font-size: 25px;
}

/* Especialidades */

.specialties-container{
    padding: 5em 0;
}

.specialties-container ul{
    display: flex;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.specialties-container ul li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas{
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-user-shield{
    color: #b90a0a;
}

.fa-tachometer-alt{
    color: #e9bf02;
}

.fa-question-circle{
    color: #b90a0a;
}

.specialties-container ul li h3{
    color: #333;
}

.specialties-container ul li p{
    line-height: 24px;
    color: #70747A;
}

/* preços */

.price-container{
    padding-bottom: 5em;
    text-align: center;
}

.price-container h1{
    font-size: 36px;
    margin-top: 0;
}

.price-container p{
    font-size: 20px;
}

.plans-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.plan{
    flex: 1 1 200px;
    max-width: 275px;
    margin-left: 20px;
    margin-right: 20px;
}

.plan ul{
    padding: 0;
}

.plan li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9eA;
    color: #333;
}

.plan .price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #e9bf02;
    color: #fff;
    text-align: center;
    line-height: 120px;
    font-size: 18px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}

.plan .plan-name{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #202B34;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.plan .plan-btn{
    background-color: #e9bf02;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.plan .recommended{
    background-color: #b90a0a;
}



/* Atribuições
logo
<div>Ícones feitos por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a></div>

*/